html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}


/* COLORS VARIABLES */

:root {
  --navigation-background: #33292a;
  --navigation-color: #fff;
  --background-01: #33292a;
  --background-02: #644b4f;
  --background-03: #333333;
  --background-04: #f2f2f2;
  --link: #efa69d;
  --link-hover: #e9877b;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* MENU */
nav {
  background-color: var(--navigation-background);
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}

/* HAMBURGER MENU */
.icon-container_hamburger {
  width: 45px;
  height: 30px;
  margin-left: auto;
  cursor: pointer;
}

.icon-image_hamburger {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .icon-container_hamburger {
    display: none;
  }
}

/* DESKTOP NAVIGATION */

nav a {
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  nav a {
    display: inline-block;
  }
}


/* HERO-ABOUTUS SECTION */


.hero-aboutus_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO SECTION */

.hero-section {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  color: var(--navigation-color);
  position: absolute;
  bottom: 30px;
  right: 5%;
  max-width: 200px;
  text-align: right;
  font-size: 47px;
}

@media (min-width: 768px) {
  h1 {
    right: 20%;
    font-size: 54px;
    max-width: 250px;
  }
}


/* ABOUT-US SECTION */

/* MOBILE VERSION */
.aboutus-section {
  width: 90%;
  margin-bottom: 80px;
}

.aboutus-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DESKTOP VERSION */

@media (min-width: 768px) {
  .aboutus-section {
    width: 60%;
    display: flex;
    gap: 40px;
    margin-top: 40px;
    align-items: start;
  }

  .aboutus-text_wrapper {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
  }

  .aboutus-image_wrapper {
    flex-basis: 50%;
    display: flex;
    height: auto;
  }

  .aboutus-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    margin-top: 0;
  }
}


/* WHAT WE DO SECTION */

/* MOBILE */

.whatwedo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-01);
  width: 100%;
  margin-bottom: 80px;
}

.whatwedo-text {
  color: var(--navigation-color);
  padding: 40px 5%;
  width: 90%;
  text-align: center;
}

.icon-container_whatwedo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--navigation-color);
  margin-bottom: 30px;
}

.icon-whatwedo {
  width: 50px;
  padding-bottom: 10px;
}

/* span {
  display: block;
} */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESKTOP */

@media (min-width: 768px) {
  .icon-container_whatwedo {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
}
