html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}


/* COLORS VARIABLES */

:root {
  --navigation-background: #33292a;
  --navigation-color: #fff;
  --background-01: #33292a;
  --background-02: #644b4f;
  --background-03: #333333;
  --background-04: #f2f2f2;
  --link: #efa69d;
  --link-hover: #e9877b;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* MENU */
nav {
  background-color: var(--navigation-background);
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}

/* HAMBURGER MENU */
.icon-container_hamburger {
  width: 45px;
  height: 30px;
  margin-left: auto;
  cursor: pointer;
}

.icon-image_hamburger {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .icon-container_hamburger {
    display: none;
  }
}

/* DESKTOP NAVIGATION */

nav a {
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  nav a {
    display: inline-block;
  }
}


/* HERO-ABOUTUS SECTION */


.hero-aboutus_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO SECTION */

.hero-section {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  color: var(--navigation-color);
  position: absolute;
  bottom: 30px;
  right: 5%;
  max-width: 200px;
  text-align: right;
  font-size: 47px;
}

@media (min-width: 768px) {
  h1 {
    right: 20%;
    font-size: 54px;
    max-width: 250px;
  }
}


/* ABOUT-US SECTION */

/* MOBILE VERSION */
.aboutus-section {
  width: 90%;
  margin-bottom: 80px;
}

.aboutus-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* DESKTOP VERSION */

@media (min-width: 768px) {
  .aboutus-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 20px;
    width: 60%;
  }

  /* .aboutus-section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
  }

  .aboutus-text_wrapper {
    display: flex;
    flex-basis: calc(100% / 2);
    flex-direction: column;
    height: 300px;
  }

  .aboutus-image_wrapper {
    flex-basis: calc(100% / 2);
    display: flex;
    height: 300px;
    flex-grow: 1;
  }

  .aboutus-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  h2 {
    margin-top: 0;
  }
}


/* WHAT WE DO SECTION */

/* MOBILE */

.whatwedo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-01);
  width: 100%;
  margin-bottom: 80px;
}

.whatwedo-text {
  color: var(--navigation-color);
  padding: 40px 5%;
  width: 90%;
  text-align: center;
}

.icon-container_whatwedo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--navigation-color);
  margin-bottom: 30px;
}

.icon-whatwedo {
  width: 50px;
  padding-bottom: 10px;
}

/* span {
  display: block;
} */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESKTOP */

/* .whatwedo-section {
  width: 100%;
  display: flex;
  justify-content: center;
} */

@media (min-width: 768px) {
  .icon-container_whatwedo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .whatwedo-text {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
  }
}

/* GALLERY MOBILE */

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.gallery-image_wrapper {
  width: 100%;
}

.image01,
.image02,
.image03,
.image04,
.image06,
.image07,
.image08,
.image09 {
  width: 100%;
  height: 100%;
  /* max-height: 300px; */
  background-size: cover;
  border-radius: 5px;
}


.gallery-text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: var(--background-04);
  height: 100px;
  border-radius: 5px;
  font-weight: bold;
}


/* GALLERY DESKTOP */

@media (min-width: 768px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin-bottom: 60px;
  }

  .gallery-text_container {
    height: auto;
  }
}

/* CONTACT US MOBILE */

.contact-us_section {
  background-color: var(--background-02);
  color: var(--navigation-color);
  /* text-align: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contact-us-text_wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.contact-us_title {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
}

button {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  width: 160px;
  margin: 40px 0;
}

/* CONTACT US DESKTOP */

@media (min-width: 768px) {
  .contact-us_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
  }

  .contact-us_title {
    width: 100%;
  }

  .contact-us-text_wrapper {
    width: 100%;
  }
}

/* REVIEW SECTION MOBILE */

.review-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.figure-reviews {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.image-reviews_wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.image-reviews {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.reviews-title {
  text-align: center;
}

figure span {
  font-weight: bold;
}

figure p {
  padding: 20px 0;
}

/* REVIEW SECTION DESKTOP */
@media (min-width: 768px) {

  .review-section {
    display: grid;
    grid-template-areas:
      "text text"
      "review1 review2";
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 60%;
    padding-top: 40px;
  }

  .reviews-text_wraper {
    grid-area: text;
    /* Priradíme tomuto prvku oblasť 'text' */
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .figure-reviews:nth-child(2) {
    grid-area: review1;
    /* Priradíme prvý figure prvok oblasti 'review1' */
    text-align: center;
  }

  .figure-reviews:nth-child(3) {
    grid-area: review2;
    /* Priradíme druhý figure prvok oblasti 'review2'*/
    text-align: center;
  }
}

/* GALLERY 02 - MOBILE */

.gallery02-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* 
  SKUSALA SOM FLEX-BOX AJ BEZ FLEXBOXU, ALE MALA SOM MEDZI FOTKAMI GAP KTORY SOM NEVEDELA ELIMINOVAT. KUKALA SOM DO VYVOJARSKYCH NASTROJOV A TIEZ SOM NENASLA Z COHO VZNIKA. AZ GRID HO VYELIMINOVAL. */
  margin: 0 auto;
}

.gallery02-image01,
.gallery02-image02,
.gallery02-image03,
.gallery02-image04 {
  width: 100%;
  height: 100%;
}


/* GALLERY 02 - DESKTOP  */
@media (min-width: 768px) {

  .gallery02-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .gallery02-wrapper04 {
    grid-column: 1;
    grid-row: 2;
  }
}

.footer {
  background-color: var(--background-03);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.footer a {
  color: var(--link);
  padding-bottom: 10px;
}

.footer a:hover {
  color: var(--link-hover);
}

.footer span {
  color: var(--navigation-color);
}
